.hero {
  height: auto;
  position: relative;
  @include breakpoint-up(large) {
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  @include breakpoint-up(xxlarge) {
    height: 90vh;
  }
  h1 {
    max-width: 20ch;
    @include breakpoint-up(large) {
      max-width: 16.5ch;
      margin-bottom: 0.5em;
    }
  }
  &__div {
   
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2em;
    }
    @include breakpoint-up(xlarge) {
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
  }
  &__img {
    position: relative;
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 100%;
    @include breakpoint-up(medium){
      width: 15em;
      margin: 0 auto;
    }

    @include breakpoint-up(large) {
      width: 100%;
      margin-top: 0;
      margin-bottom: 2em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }
    @include breakpoint-up(xlarge) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }
    .swiper {
     
      &-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        .dish-img {
          width: 13em;
          z-index: -1;
          position: relative;
          @include breakpoint-up(large) {
            width: 25em;
          }
          @include breakpoint-up(xxlarge) {
            width: 35em;
          }
        }
      }
    }
  }

  &__content {
    @include breakpoint-up(large) {
      max-width: 100%;
      margin-top: -10%;
    }
  }
  &__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1em;
    position: relative;
    @include breakpoint-up(medium){
      width: 70%;
    }
    @include breakpoint-up(large) {
      width: unset;
      margin-top: 2em;
    }
    @include breakpoint-up(xlarge) {
      margin-top: 2.5em;
    }
    .img-div {
      width: 40%;
      @include breakpoint-up(large) {
        width: 22%;
      }
      @include breakpoint-up(xlarge) {
        width: 30%;
      }
      .imgs {
        img {
          position: absolute;
          top: 0%;
          @include breakpoint-up(xlarge) {
            width: 3.5em;
          }
          &:nth-child(1) {
            left: 0%;
          }
          &:nth-child(2) {
            left: 10%;
            @include breakpoint-up(large) {
              left: 5%;
            }
            @include breakpoint-up(xlarge) {
              left: 7%;
            }
          }
          &:nth-child(3) {
            left: 20%;
            @include breakpoint-up(large) {
              left: 10%;
            }
            @include breakpoint-up(xlarge) {
              left: 14%;
            }
          }
        }
      }
    }
    .content-div {
      h3 {
        font-size: 1rem;
        margin: 0;
        @include breakpoint-up(large) {
          font-size: 1.2rem;
        }
      }
      h4 {
        font-size: 0.8rem;
        @include breakpoint-up(large) {
          font-size: 1rem;
        }
        @include breakpoint-up(xlarge) {
          font-size: 1.2rem;
        }
      }
      .review-count {
        margin-top: 0.2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0.3em;
        svg {
          fill: $primary;
        }
        p {
          font-size: 0.7rem;
          opacity: 0.6;
          margin: 0;
          @include breakpoint-up(large) {
            font-size: 0.9rem;
          }
          @include breakpoint-up(xlarge) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  &__btns {
    @include breakpoint-up(large) {
      margin-top: 2em;
    }
    a {
      @include breakpoint-up(large) {
        margin-right: 0.5em;
      }
      @include breakpoint-up(xlarge) {
        margin-right: 0.5em;
      }
    }
  }
  &__welcome-tag {
    background-color: $pm-lite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1em;
    margin-bottom: 1em;
    border-radius: 26px;
    @include breakpoint-up(large) {
      margin-top: 3em;
    }
    @include breakpoint-up(xxlarge) {
      margin-bottom: 3em;
      margin-top: 5em;
    }
    img {
      -o-object-fit: contain;
         object-fit: contain;
    }
  }
  &__desc {
    img {
      display: none;
      @include breakpoint-up(large) {
        -o-object-fit: contain;
           object-fit: contain;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
    @include breakpoint-up(large) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    p {
      @include breakpoint-up(large) {
        max-width: 80%;
      }
    }
  }
  &__dish-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    background-color: $bg-lit;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 7em;
    padding: 0.1em 1em 0 0;
    z-index: 2;
    .head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .body{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .dish-name {
      margin-bottom: 0;
      font-weight: 600;
      line-height: 0;
      font-weight: bold;
      @include breakpoint-up(large) {
        margin-bottom: 0.7em;
      }
    }
    .stars {
      svg {
        fill: $primary;
        width: 0.5em;
        margin-top: 0;
        @include breakpoint-up(large) {
          width: 0.6em;
        }
      }
    }
    .dish-price {
      margin-bottom: 0;
      font-size: 0.7rem;
      font-weight: 700;
      @include breakpoint-up(large) {
        font-size: 1rem;
        margin-bottom: 0.4em;
        margin-top: 0;
      }
    }
  }
  .big-card {
    position: absolute;
    top: -3%;
    left: -5%;
    // z-index: -1;

    @include breakpoint-up(large) {
      top: 0;
      left: 0%;
    }
    @include breakpoint-up(xlarge) {
      top: 3%;
      left: 5%;
    }
    .head {
      img {
        -o-object-fit: contain;
           object-fit: contain;
        max-width: 3em;
        @include breakpoint-up(large) {
          max-width: 6em;
          width: 4em;
        }
        @include breakpoint-up(xlarge) {
        }
      }
    }

    .dish-name {
      font-weight: 600;
      font-size: 0.7rem;
      line-height: 0;
      font-weight: bold;
      @include breakpoint-up(large) {
        font-size: 0.7rem;
        line-height: 0;
      }
      @include breakpoint-up(xlarge) {
        font-size: 0.8rem;
        line-height: 0;
      }
    }
    h3 {
      line-height: 1em;
      margin-top: 0.3em;
      // padding-bottom: 0.8em;
      font-size: 0.8rem;
      @include breakpoint-up(large) {
        margin-top: 0.2em;
        padding-bottom: 0;
      }
      @include breakpoint-up(xlarge) {
        font-size: 0.9rem;
      }
    }
  }
  .small-card {
    position: absolute;
    top:50%;
    right: -5%;
    min-width: 4em;
    padding-right: 1em;

    @include breakpoint-up(large) {
      bottom: 25%;
      top: unset;
      right: 5%;
      padding-right: 1.5em;
    }
    .body{
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      
    }
    img {
      width:2.5em;
     
      @include breakpoint-up(large) {
        width: 3.5em;
      }
      @include breakpoint-up(xlarge) {
        width: 4em;
      }
    }
    svg {
      width: 0.4em;
      @include breakpoint-up(large) {
        width: 0.6em;
      }
    }
    .dish-name {
      font-weight: 600;
      font-size: calc(0.4rem + 1vmin);
      font-weight: bold;
      @include breakpoint-up(medium){
      font-size: calc(0.1rem + 1vmin);;
      }
      @include breakpoint-up(large) {
        font-size: 0.7rem;
        line-height: 0;
      }
      @include breakpoint-up(xlarge) {
        font-size: 0.9rem;
      }
    }

    h3 {
      line-height: 1em;
      margin-top: 0.3em;
      padding-bottom: 0.8em;
      font-size: calc(0.5rem + 1vmin);
      @include breakpoint-up(medium){
        font-size: calc(0.1rem + 1vmin);
      
      }
      @include breakpoint-up(large) {
        margin-top: 0.3em;
        padding-bottom: 0;
        font-size: 0.8rem;
      }
    }
  }
  .contact-card {
    position: absolute;
    bottom: 5%;
    left: -5%;
    padding-right: 0.3em;
    min-width: 4em;
    @include breakpoint-up(large) {
      bottom: 20%;
      left: -10%;
      padding: 0;
      padding-right: 0.3em;
    }
    @include breakpoint-up(xlarge) {
      bottom: 20%;
      left: 5%;
      padding: 0;
      padding-right: 0.3em;
    }
    @include breakpoint-up(xxlarge) {
      bottom: 20%;
      left: -5%;
      padding: 0;
      padding-right: 0.3em;
    }
    .head {
      img {
        width: 2em;
        padding: 0.3em;
        @include breakpoint-up(large) {
          width: 3.5em;
        }
        @include breakpoint-up(xlarge) {
          width: 3.8em;
        }
      }
    }
    svg {
      width: 0.4em;
    }

    h3 {
      margin-top: 0;
      padding-bottom: 0.2em;
    }
    .dish-name {
      line-height: 0;
      @include breakpoint-up(large) {
        font-size: 0.9rem;
      }
      @include breakpoint-up(xlarge) {
        font-size: 0.9rem;
      }
    }
    .smallp {
      font-size: 0.7rem;
      margin: 0;
      padding-top: 0.5em;
      @include breakpoint-up(large) {
        font-size: 0.7rem;
        padding-top: 0;
      }
    }
    .extra {
      background-color: $primary;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0.2em;
      border-radius: 50%;
      width: 1.2em;
      height: 1.2em;
      @include breakpoint-up(large) {
        width: 2.3em;
        height: 2.3em;
        padding: 0.5em;
        margin-left: 0.3em;
      }
      @include breakpoint-up(xlarge) {
        width: 2.5em;
        height: 2.5em;
        padding: 0.4em;
        margin-left: 1em;
      }
      img {
        width: 1em;
        background-color: $primary;
        @include breakpoint-up(large) {
          width: 1em;
        }
        @include breakpoint-up(xlarge) {
          width: 1.3em;
        }
      }
    }
  }
}
