.page-banner{
    background-size: cover;
    background-position: center left 60%;
    background-color: rgba(0, 0, 0, 0.205);
    background-blend-mode: soft-light;
    padding-top: 2em;
    height: 7em;
    margin-bottom: 2em;
    color: #ffffff;
    background-attachment: fixed;
    @include breakpoint-up(large){
        margin-bottom: 4em;
    }
    h2{
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        color: #ffffff;
    }
    p{
        margin-top: 0;
        @include breakpoint-up(large){
            font-size: 1.2rem;
        }
    }
    @include breakpoint-up(large){
        height: 10em;
        padding-top: 8em;
    }
    @include breakpoint-up(xxlarge){
        height: 10em;
        padding-top: 15em;
        background-position:center center;
    }
    &__div{
        font-weight: 900;
    }
}
