.abt-testimonial {
  background-size: cover;
  color: #ffffff;
  background-blend-mode: soft-light;
  background-color: rgba(10, 12, 12, 0.541);
  text-align: center;
  overflow: hidden;
  @include breakpoint-up(large) {
    height: 85vh;
    padding-top: 1em;
    margin-bottom: 0;
  }
  @include breakpoint-up(xlarge) {
    height: 60vh;
    display: flex;
    align-items: center;
  }
  @include breakpoint-up(xxlarge) {
    height: 60vh;
  }
  h2 {
    color: #ffffff;
  }
  .wings::before,
  .wings::after {
    background-color: #ffffff;
  }
  &__div {
    .writer {
      font-style: normal;
      text-transform: uppercase;
    }

    @include breakpoint-up(large) {
      width: 70%;
      margin: 0 auto;
    }
    .swiper {
      @include breakpoint-up(large) {
        overflow-y: clip;
        height: auto;
      }
      .swiper-slide {
        height: 40vh;
        @include breakpoint-up(large) {
          height: 35vh;
        }
        @include breakpoint-up(xlarge) {
          height: 25vh;
        }
        @include breakpoint-up(xxlarge) {
          height: 20vh;
        }
      }
      .swiper-pagination {
        right: 0;
        left: unset;
        top: unset;
        bottom: 2em;
        overflow: visible;

        @include breakpoint-up(large) {
          right: -6%;
        }
        @include breakpoint-up(xxlarge) {
          right: -3%;
        }
      }
      .swiper-pagination-bullet {
        background: whitesmoke;
      }
    }
  }

  .abt-testimonial__card {
    @include breakpoint-up(large) {
      display: grid;
      grid-auto-flow: row;
      // gap: 1em;
      // height: 26em;
    }
    &__head {
      @include breakpoint-up(large) {
        order: 2;
        justify-self: end;
        display: flex;
        gap: 1em;
        text-align: left;
        flex-direction: row-reverse;
      }
      img {
        width: 3.25em;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        filter: blur(2px);
      }
      .writer {
        margin: 0;
        font-weight: 500;
        &-job {
          margin: 0;
          font-size: 0.9rem;
          @include breakpoint-up(large) {
            font-size: inherit;
          }
        }
      }
      small {
        font-size: 1rem;
        padding: 0;
      }
    }
    &__body {
      @include breakpoint-up(large) {
        order: 1;
      }
    }
  }
}
